---
title: Pulpo WMS
---

.bRow
  .bRow-content
    .aHeadline.asLarger.asCentered= t('index.pricing.headline')
    .bList-item
    .bList-item{:id=>'itemsMenu'}
      %ul
        %li
          .aTextWithHeadline-text=t("index.pricing.element1.text1")
        %li
          .aTextWithHeadline-text=t("index.pricing.element1.text2")
        %li
          .aTextWithHeadline-text=t("index.pricing.element1.text3")
        %li
          .aTextWithHeadline-text=t("index.pricing.element1.text4")
.bRow
.bRow